h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el boton de enviar */
.agregarContacto {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el boton de enviar al pasar el raton */
button:hover {
  background-color: #0056b3;
}

.tituloWeb {
  margin-left: 30px;
}

.botonAgregarContacto {
  margin-right: 30px;
}

.BotonVolver {
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: -15px;
  width: 100%;
  background-color: #575858;
  color: white;
}

.contenidoListContact {
  word-wrap: break-word;
  /* para que no se salga el contenido de la card */
}


.containerList {
  margin-bottom: 60px;
}

.navbar {
  height: 70px;
}

.espacioNavbar {
  height: 60px;
}

.containerNavbar {
  position: relative;
}

.container {
  overflow-x: hidden;
}